################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio. и поправлен мною)
################################################################################

/.vs
/module-1/homework/BigInteger/out